<html>
<head>
  <title>COVID-19</title>
  <link rel="stylesheet" href="/static/sci-survey.css" type="text/css">
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{bokeh_version}}.min.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="inline main-chart">
    <div id="main-plot">
    </div>
  </div>
  <div class="inline categories">
  </div>
  <div class="articles-top">
    <h2>Articles</h2>
    <table class="articles">
    </table>
  </div>
  <script>
    var url = 'plot/covid-19' + window.location.search;
    $.getJSON(url).done(function(data) {
      Bokeh.embed.embed_item(data["main"], "main-plot");
      data['categories'].map(function(v, i) {
        var cId = "category-plot-" + i;
        $(".categories").append('<div class="category"><p>' + v["name"] + '</p><div class="category-chart"><div id="' + cId + '"></div></div></div>');
        Bokeh.embed.embed_item(v["plot"], cId);
      });
      data['articles'].map(function(v, i) {
        $(".articles").append('<tr><td class="line-no">'+(i+1)+'.</td><td><a href="'+v["url"]+'">'+v["title"]+'</a> ('+v["date"]+')</td></tr>');
      });
    });
  </script>
</body>
<html>
