<html>
<head>
  <title>{{dsource}} {{area}}</title>
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" href="/static/sci-survey.css?{{ssver}}" type="text/css">
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{bokeh_version}}.min.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="vgr-logo-container page-reset">
    <div class="vgr-background page-reset">
    </div>
    <div class="vgr-logo page-reset">
      <div class="vgr-name page-reset">Sci-Med Surveyor</div>
    </div>
  </div>
  <div class="inline main-chart">
    <div class="flex-outer main-outer">
      <div class="main-title">
      </div>
      <div class="main-holder flex-inner">
        <div id="main-plot">
        </div>
      </div>
    </div>
  </div>
  <div class="inline sub-annotations-top">
    <div class="flex-outer sub-annotations-outer">
      <div class="sub-annotation-top-banner">
      </div>
      <div class="sub-annotations flex-inner">
      </div>
    </div>
  </div>
  <div class="articles-top">
    <table class="articles">
    </table>
  </div>
  <div style="display:None" class="dialog-overlay">
    <div class="annotation-dialog">
      <p class="annotation-dialog-title"></p>
      <table class="annotation-dialog-table labels">
      </table>
    </div>
  </div>
  <script>
    var url = '{{area}}/plot-main' + window.location.search;
    $.getJSON(url).done(function(data) {
      main = data["main"];
      $(".main-title").text(main['name']);
      if (main['filter-suffix']) {
        $(".main-title").append(' <span class="close-filter page-reset">X</span>');
      }
      $(".page-reset").click(function() {
        window.location.assign("{{area}}");
      });
      Bokeh.embed.embed_item(main['plot'], "main-plot");
      var annotClass = data["annot_class"]
      data['annotations'].map(function(v, i) {
        var cId = "annotation-plot-" + i;
        var annotation = v["name"];
        var annotationUrl = annotation + window.location.search;
        $(".sub-annotations").append('<div class="annotation '+annotClass+'"><p><a class="annotation-link" href="{{area}}/list-labels/'+annotationUrl+'">'+annotation+'</a></p><div class="annotation-chart"><div id="'+cId+'"></div></div></div>');
        Bokeh.embed.embed_item(v["plot"], cId);
      });
      // open annotation dialog
      $(".annotation-link").click(function(ev) {
        ev.preventDefault();
        $(".annotation-dialog-title").text("Loading...");
        $(".annotation-dialog-table").html("");
        $(".dialog-overlay").attr("style", "");
        var annotation = $(this).text();
        $.getJSON($(this).attr("href")).done(function(data) {
          data['annotations'].map(function(v, i) {
            $(".annotation-dialog-title").text(v["fullname"]);
            var html = "";
            v["labels"].map(function(w) {
              html += '<tr><td class="label"><a href="?'+v["name"]+'='+w[0]+'">' + w[0] + '</a></td><td class="occurances">' + w[1] + '</td></tr>';
            });
            $(".annotation-dialog-table").html(html);
            $(".annotation-dialog-table a").click(function(ev) {
              ev.preventDefault();
              var url = new URL(window.location.href);
              var val = url.searchParams.get(annotation);
              val = (val? val+"," : "") + $(this).text();
              url.searchParams.set(annotation, val);
              window.location.assign(url);
            });
          });
        });
      });
      $(".articles").append('<tr><td class="line-no header">#</td><td class="header">' + data['article-header'] + '</td></tr>');
      data['articles'].map(function(v, i) {
        $(".articles").append('<tr><td class="line-no">'+(i+1)+'.</td><td><a href="'+v["url"]+'" target="_blank">'+v["title"]+'</a> ('+v["date"]+')</td></tr>');
      });
    });
    $(".dialog-overlay").click(function() {
      $(".dialog-overlay").attr("style", "display:None");
    });
  </script>
</body>
<html>
