<html>
<head>
  <title>{{dsource}} {{area}}</title>
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" href="/static/sci-survey.css?{{ssver}}" type="text/css">
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{bokeh_version}}.min.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="vgr-logo-container page-reset">
    <div class="vgr-background page-reset">
    </div>
    <div class="vgr-logo page-reset">
      <div class="vgr-name page-reset">Sci-Med Surveyor</div>
    </div>
  </div>
  <div class="inline main-chart">
    <div class="flex-outer main-outer">
      <div class="main-title">
      </div>
      <div class="main-holder flex-inner">
        <div id="main-plot">
        </div>
      </div>
    </div>
  </div>
  <div class="inline sub-annotations-top">
    <div class="flex-outer sub-annotations-outer">
      <div class="sub-annotation-top-banner">
      </div>
      <div class="sub-annotations flex-inner">
      </div>
    </div>
  </div>
  <div class="world-map-chart" style="background-color: #d4dadc;">
    <div class="flex-outer world-map-outer">
      <div class="world-map-title">
      </div>
      <div class="world-map-holder flex-inner">
        <div id="world-map-plot">
          <div class="lds-ripple"><div></div><div></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="articles-top">
    <table class="articles">
    </table>
  </div>
  <div style="display:None" class="dialog-overlay">
    <div class="annotation-dialog">
      <p class="annotation-dialog-title"></p>
      <div class="labels">
        <table class="annotation-dialog-table">
        </table>
      </div>
    </div>
  </div>
  <script>
    var search = (window.location.search.length? window.location.search+"&" : "?") + "tz="+(-(new Date()).getTimezoneOffset()).toString();
    var url = '{{area}}/plot-main' + search;
    $.getJSON(url).done(function(data) {
      var main = data["main"];
      $(".main-title").text(main['name']);
      if (main['filter-suffix']) {
        $(".main-title").append(' <span class="filter-button close-filter page-reset">X</span>');
      }
      var url = new URL(window.location.href);
      var filter = JSON.parse(url.searchParams.get("filter")) || [{}];
      var fannots = filter.length > 1? Object.keys(filter[1]) : [];
      fannots = fannots.length? fannots : "other";
      var compareText = filter.length > 1? "Switch to "+fannots+" filter" : "Compare";
      $(".main-title").append(' <span class="filter-button compare-filter">'+compareText+'</span>');
      $(".page-reset").click(function() {
        var url = new URL(window.location.href);
        var filter = JSON.parse(url.searchParams.get("filter")) || [{}];
        if (filter.length > 1) {
          filter.shift();
        } else {
          filter[0] = {};
        }
        url.searchParams.set("filter", JSON.stringify(filter));
        window.location.assign(url);
      });
      $(".compare-filter").click(function() {
        var url = new URL(window.location.href);
        var filter = JSON.parse(url.searchParams.get("filter")) || [{}];
        if (filter.length < 2) {
          filter.push({});
        }
        var a = filter[0];
        filter[0] = filter[1];
        filter[1] = a;
        url.searchParams.set("filter", JSON.stringify(filter));
        window.location.assign(url);
      });
      Bokeh.embed.embed_item(main['plot'], "main-plot");
      var annotSuffix = data["annot-suffix"]
      $(".sub-annotations").addClass("sub-annotations-"+annotSuffix)
      var annotCmpUrl = "{{area}}/compare-annotations?" + url.searchParams;
      var cmpLink = filter.length > 1? ' <span class="annotation-cmp">— <a href="'+annotCmpUrl+'">compare annotations</a></span>' : '';
      data['annotations'].map(function(v, i) {
        var cId = "annotation-plot-" + i;
        var annotation = v["name"];
        var annotationUrl = annotation + window.location.search;
        var annotationDiv = '<div class="annotation-layout annotation-layout-'+annotSuffix+'"><div class="annotation"><p><a class="annotation-link" href="{{area}}/list-labels/'+
                            annotationUrl+'">'+annotation+'</a>'+cmpLink+'</p><div class="annotation-chart"><div id="'+cId+'"></div></div></div></div>'
        $(".sub-annotations").append(annotationDiv);
        Bokeh.embed.embed_item(v["plot"], cId);
      });
      $(".articles").append('<tr><td class="line-no header">#</td><td class="header">' + data['article-header'] + '</td></tr>');
      data['articles'].map(function(v, i) {
        $(".articles").append('<tr><td class="line-no">'+(i+1)+'.</td><td><a href="'+v["url"]+'" target="_blank">'+v["title"]+'</a> ('+v["date"]+')</td></tr>');
      });
      if (data["has-map"]) {
        // load map
        var url = '{{area}}/plot-world-map' + window.location.search;
        $.getJSON(url).done(function(mapData) {
          $(".world-map-chart").removeAttr("style");
          $(".world-map-title").text(mapData['name']);
          Bokeh.embed.embed_item(mapData['plot'], "world-map-plot");
        }).fail(function() {
          $(".world-map-chart").hide();
        });
      } else {
        $(".world-map-chart").hide();
      }
      // open annotation dialog
      $(".annotation-link").click(function(ev) {
        ev.preventDefault();
        $(".annotation-dialog-title").text("Loading...");
        $(".annotation-dialog-table").html("");
        $(".dialog-overlay").attr("style", "");
        var annotation = $(this).text();
        $.getJSON($(this).attr("href")).done(function(data) {
          data['annotations'].map(function(v, i) {
            $(".annotation-dialog-title").text(v["fullname"]);
            var html = "";
            v["labels"].map(function(w) {
              html += '<tr><td class="label"><a href="?'+v["name"]+'='+w[0]+'">' + w[0] + '</a></td><td class="occurances">' + w[1] + '</td></tr>';
            });
            $(".annotation-dialog-table").html(html);
            $(".annotation-dialog-table a").click(function(ev) {
              ev.preventDefault();
              var url = new URL(window.location.href);
              var filter = JSON.parse(url.searchParams.get("filter")) || [{}];
              var vals = (filter[0][annotation] || []).concat($(this).text());
              filter[0][annotation] = vals;
              url.searchParams.set("filter", JSON.stringify(filter));
              window.location.assign(url);
            });
          });
        });
      });
    });
    $(".dialog-overlay").click(function() {
      $(".dialog-overlay").attr("style", "display:None");
    });
    window.setTimeout(function(){window.location.reload();}, 60*60*1000); // reload every hour
  </script>
</body>
<html>
