html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

.back {
	background-image: url("/static/back.svg");
	cursor: pointer;
	width: 2em;
	height: 2em;
	position: fixed;
}

.inline {
	display: inline-block;
}
.main-chart {
	width: 70%;
	height: 90%;
}
.sub-annotations {
    width: 27%;
    position: absolute;
    margin: 1em 0 0 2vw;
}
.annotation-chart {
	height: 15vh;
}
.annotation > p {
	margin: 0;
	font-size: 0.8em;
	color: #616161;
}
.main-annotations {
	padding: 2em;
}

table.articles {
	width: 100%;
	border-spacing: 0;
}
table.articles > tr {
	height: 2em;
	color: #777;
}
table.articles td {
	border-bottom: 1px solid #ddd;
	padding: 0.6em;
}
.line-no, .occurances {
	text-align: right;
}
.occurances {
    padding-right: 5em;
}

table a:link, table a:visited {
	text-decoration: none;
}
table a:link {
	color: #777;
}
table a:hover {
	color: #444;
}

table.labels {
    margin-bottom: 5em;
    max-height: 60%;
    overflow-y: scroll;
    display: inline-block;
    border-bottom: 1px solid #ddd;
}
