html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

.back {
	background-image: url("/static/back.svg");
	cursor: pointer;
	width: 2em;
	height: 2em;
	position: fixed;
}

.inline {
	display: inline-block;
}
.main-chart {
	width: 60%;
	height: 70%;
	margin: 1% 2%;
	vertical-align: top;
}
.main-title {
    padding-left: 1.6em;
}
.main-holder {
	height: 100%;
}
.sub-annotations-top {
	width: 30%;
	height: 70%;
	margin: 1% 2%;
	vertical-align: top;
}
.flex-outer {
	height: 100%;
	display: flex;
	flex-flow: column;
}
.flex-inner {
	flex: 1 1 auto;
}
.sub-annotation-top-banner {
	height: 0.5em;
}
.annotation {
	height: 20%;
	display: flex;
	flex-flow: column;
}
.annotation-chart {
	flex: 1 1 auto;
}
.annotation > p {
	margin: 0;
	font-size: 12px;
	color: #616161;
}
.main-annotations {
	padding: 2em;
}

.articles-top {
	margin-top: 5em;
}
table.articles {
	width: 100%;
	border-spacing: 0;
}
table.articles > tr {
	height: 2em;
	color: #777;
}
table.articles td {
	border-bottom: 1px solid #ddd;
	padding: 0.6em;
	font-size: 12px;
}
.line-no, .occurances {
	text-align: right;
}
.occurances {
	padding-right: 5em;
}
.header {
	color: #000;
}

table a:link, table a:visited {
	text-decoration: none;
}
table a:link {
	color: #777;
}
table a:hover {
	color: #444;
}

table.labels {
	margin-bottom: 5em;
	max-height: 60%;
	overflow-y: scroll;
	display: inline-block;
	border-bottom: 1px solid #ddd;
}
