html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

.vgr-logo-container {
	position: absolute;
	height: 70%;
	display: flex;
	flex-flow: column;
}
.vgr-background {
	background: #005c95;
	flex: 1 1 auto;
}
.vgr-logo {
	background-image: url("/static/vgr-img.png");
	background-position: bottom;
	width: 62px;
	height: 70vh;
	max-height: 484px;
}
.vgr-name {
	color: #fff;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	width: 500px;
	position: absolute;
	bottom: 70px;
	left: calc(4px + 0.5vw);
	font-size: 1.8vw;
}

.inline {
	display: inline-block;
}
.page-reset {
	cursor: pointer;
}
.main-chart {
	position: relative;
	width: 58%;
	height: 70%;
	vertical-align: top;
	margin: 0 2% 0 5%;
	padding: 1% 0;
	background: #fff;
	z-index: 2;
}
.main-title {
	padding-left: 1.6em;
}
span.close-filter {
    color: #fff;
    background: #a00;
    font-size: 70%;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}
.main-holder {
	height: 100%;
}
.sub-annotations-top {
	width: 28%;
	height: 70%;
	margin: 1% 2%;
	vertical-align: top;
}
.flex-outer {
	height: 100%;
	display: flex;
	flex-flow: column;
}
.flex-inner {
	flex: 1 1 auto;
}
.sub-annotation-top-banner {
	height: 0.5em;
}
.annotation {
	height: 20%;
	display: flex;
	flex-flow: column;
}
.annotation-hashtag {
	height: 100%;
}
.annotation-chart {
	flex: 1 1 auto;
}
.annotation > p {
	margin: 0;
	font-size : 12px;
	color: #616161;
}
.main-annotations {
	padding: 2em;
}

.articles-top {
	margin-top: 5em;
}
table.articles {
	width: 100%;
	border-spacing: 0;
}
table.articles > tr {
	height: 2em;
	color: #777;
}
table.articles td {
	border-bottom: 1px solid #ddd;
	padding: 0.6em;
	font-size: 12px;
}
.line-no, .occurances {
	text-align: right;
}
.header {
	color: #000;
}

.bk {
    cursor: pointer;
}

table a:link, table a:visited {
	text-decoration: none;
}
table a:link {
	color: #777;
}
table a:hover {
	color: #444;
}

.dialog-overlay {
	background: #000000dd;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.annotation-dialog {
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 70%;
	min-width: 30em;
	min-height: 20em;
	border: 3px solid #000;
	z-index: 100;
}
.annotation-dialog-title {
	margin: 0;
	padding: 1em;
	background: #ccc;
}
table.labels {
	margin: 2em;
	max-height: 70%;
	overflow-y: scroll;
	display: inline-block;
	border: 1px solid #ccc;
}
.label {
	width: 70%;
	word-break: break-word;
}
.occurances {
	padding-right: 1em;
}


@media 	only screen and (max-width: 700px),
		only screen and (max-height: 750px),
		only screen and (min-resolution: 2dppx) {

.main-chart {
	width: 90%;
}
.sub-annotations-top {
	width: 93%;
	height: auto;
}
.sub-annotations-outer {
	height: auto;
}
.annotation {
	display: inline-block;
	width: 46%;
	height: 30%;
	margin: 2%;
}
.annotation-hashtag {
	display: flex;
	width: 95%;
	height: 50%;
	min-height: 25em;
}
.articles-top {
    margin-top: 1em;
}

}

@media only screen and (min-resolution: 2dppx) {

body {
	font-size: 1.2em;
}
.vgr-logo-container, .main-chart {
	height: 50%;
}
table.articles td {
	font-size: 1em;
}
.annotation-dialog {
	width: 100%;
	min-width: 100%;
}

}
